# ============================================================
# .NET / VISUAL STUDIO
# ============================================================

[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ============================================================
# VIRTUAL ENVIRONMENTS + SECRETES
# ============================================================

.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

.env
.env.local
.env.*.local

# ============================================================
# TESTING / COVERAGE
# ============================================================

# Utils
script.py

# ============================================================
# IDE / EDITOR
# ============================================================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ============================================================
# DOCS
# ============================================================

# Ignora tutto sotto docs
docs/**

# Eccezioni
!docs/
!docs/target/
!docs/release/
!docs/release/v1.0.0/

!docs/CHANGELOG.md
!docs/ARCHITECTURE.md
!docs/TIMELINE.md
!docs/ROADMAP.md
# !docs/toDo.md

!docs/release/*.md
!docs/release/v1.0.0/*.md

# ============================================================
# TEMPORARY FILES
# ============================================================
tmp/
tmp/**
**/tmp/**
*.tmp
*.bak
*.swp
struttura.txt
